
@{
    ViewBag.Title = "Поиск по коду";
}

<h2>Поиск по коду</h2>

<form method="post">
    <label for="code"><b>Цифро-буквенный код</b></label>
    <input id="code" class="form-control input-sm" type="text" placeholder="Введите код" name="code" value="@ViewBag.Code">

    <br />
    <button type="submit" id="getCode" class="btn btn-default">Расшифровать код</button>
</form>

<hr />
<label for="answer"><b>Полученная информация</b></label>
<textarea id="answer" class="form-control input-sm" name="answerCode" rows ="3">
@ViewBag.AnswerText
</textarea>